{{ partial "header.html" . }} {{ partial "frame_head.html" . }}
<container>
  <article>
    <div class="mdl-shadow--2dp page-card">
      <div class="card-header">
        <h1 class="mdl-typography--display-1">
          {{ .Title }}
          <div class="mdl-typography--body-1">{{ .Date.Format "Mon, Jan 2, 2006" }}</div>
        </h1>
        <div>{{with .Params.tags}}{{ range . }}
          <span class="mdl-chip mdl-chip--contact">
            <a class="mdl-color-text--black" href='{{ $.Site.BaseURL }}/tags/{{ (replace . "#" "%23") | urlize }}'>
              <span class="mdl-chip__contact mdl-color--primary mdl-color-text--white">{{slicestr . 0 1}}</span>
              <span class="mdl-chip__text">{{ . }}</span>
            </a>
          </span>
          {{ end }} {{end}}</div>
      </div>
      <hr>
      <div class="article-content">{{ .Content }}</div>
      {{ if .Params.comment | default true}} {{ partial "comment.html" .}} {{ end }}
    </div>
  </article>
  {{ partial "sidebar.html" .}}
</container>
{{ partial "frame_tail.html" . }}