html,
body {
  font-family: Roboto, "Noto Sans CJK SC";
}
a {
  text-decoration: none;
  color: #2196f3;
}
a :hover {
  color: #000000;
}
.mdl-layout__drawer {
  border: none;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #0f0f0f;
}
#footer {
  height: 48px;
  margin: 20px -400px -24px -24px;
  background-color: #0f0f0f;
}
main .waterfall-list .card-content {
  padding: 8px;
  break-inside: avoid-column;
}
main .mdl-shadow--2dp .page-card {
  padding: 16px;
}
main .page-card .card-header {
  padding: 16px;
}
main .page-card .card-summary {
  padding: 0 16px 16px 16px;
}
main .page-card .card-summary p {
  margin-top: 16px;
}
main .page-content {
  padding: 24px;
  padding-bottom: 0px;
}
main .page-content container {
  display: flex;
  justify-content: center;
}
main .page-content sidebar {
  width: 20%;
  padding: 8px;
}
main .page-content article {
  padding: 8px;
  font-size: 16px;
  line-height: 1;
  width: 60%;
}
main .page-content blockquote {
  font-size: 1em;
  font-style: normal;
  position: relative;
  width: 100%;
  margin: 20px 0;
  padding: 0 20px;
  border-left: 4px solid #39a1f4;
}
main .page-content blockquote:before {
  content: none;
}
main .page-content blockquote:after {
  content: none;
}
main .page-content h1 {
  font-size: 2.1em;
}
main .page-content h2 {
  font-size: 2em;
}
main .page-content h3 {
  font-size: 1.8em;
}
main .page-content h4 {
  font-size: 1.5em;
}
main .page-content h5 {
  font-size: 1.3em;
}
main .page-content h6 {
  font-size: 1.1em;
}
main .page-content pre {
  font-size: 0.8em;
  line-height: 2;
  margin: 0 -16px;
}
main .page-content pre code {
  padding: 0 16px;
}
main .page-content .article-content {
  padding: 16px;
}
main .page-content .article-content p,
main .page-content .article-content li,
main .page-content .article-content ol,
main .page-content .article-content ul {
  font-size: 1em;
}
main .page-content .article-content hr {
  margin: 24px -16px;
}
main .page-content .article-content h1,
main .page-content .article-content h2,
main .page-content .article-content h3,
main .page-content .article-content h4,
main .page-content .article-content h5,
main .page-content .article-content h6 {
  color: #2196f3;
  margin-top: 24px;
  font-weight: 700;
}
main .page-content .article-content img {
  width: 80%;
}
main .page-content .card-content p {
  font-size: 1em;
}
main .page-content .card-content h1 {
  font-size: 2.1em;
}
main .page-content .card-content h2 {
  font-size: 2em;
}
main .page-content .card-content h3 {
  font-size: 1.8em;
}
main .page-content .card-content h4 {
  font-size: 1.5em;
}
main .page-content .card-content h5 {
  font-size: 1.3em;
}
main .page-content .card-content h6 {
  font-size: 1.1em;
}
main .page-content .card-content img {
  width: 100%;
}
main #tags-card-large {
  padding: 16px;
}
main .intro-board {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  margin: 0 0 16px 0;
  min-height: 360px;
}
main .intro-board .intro-title {
  height: 100%;
  width: 40%;
  text-align: center;
}
main .intro-board .intro-content {
  width: 60%;
  height: 100%;
  text-align: center;
}
main #disqus_thread {
  padding: 16px;
}
main .pagination ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
main .pagination li {
  display: inline-flex;
  margin: 0 12px;
  text-align: center;
  vertical-align: top;
}
main .pagination li a {
  display: inline-block;
}
main .sidebar {
  width: 100%;
  margin-bottom: 24px;
}
main sidebar #toc ul {
  list-style-type: none;
  padding-left: 8px;
}
@media all and (min-width: 1601px) {
  .waterfall-list {
    column-count: 3;
  }
}
@media all and (min-width: 481px) and (max-width: 1600px) {
  .waterfall-list {
    column-count: 2;
  }
  main container {
    flex-direction: column;
  }
  main container sidebar {
    width: 100%;
  }
  main container article {
    width: 100%;
  }
  main .page-content {
    padding: 16px;
  }
}
@media all and (max-width: 480px) {
  .waterfall-list {
    column-count: 1;
  }
  main container {
    flex-direction: column;
  }
  main .page-content {
    padding: 16px;
  }
  main .page-content sidebar {
    width: 100%;
  }
  main .page-content article {
    width: 100%;
  }
}
