@dark-grey: #0f0f0f;
@primary-color: rgb(33,150,243);
@accent-color: rgb(33,150,243);

html, body {
	font-family: Roboto, "Noto Sans CJK SC";
}
a {
  text-decoration: none;
  color: @primary-color;
  :hover{
    color: darken(@primary-color, 100%);
  }
}

// Drawer
.mdl-layout__drawer {
	border: none;
	.mdl-navigation .mdl-navigation__link:hover {
		background-color: @dark-grey;
	}
}
.mdl-mini-footer {
	position: relative;
	width: 100%;
	height: 48px;
	margin: 20px -24px 0px -24px;
	background-color: @dark-grey;
}

main{
  position:relative;


  //Waterfall list
  .waterfall-list{
    column-count:3;
    .card-content{
      padding:8px;
      break-inside: avoid-column;
    }
  }

  //Card content
  .mdl-shadow--2dp .page-card{
    padding: 16px;
  }
  .page-card {
    .card-header {
      padding: 16px;
    }
    .card-summary {
      padding: 0 16px 16px 16px;
      p{
        margin-top: 16px;
      }
    }
  }

  // Page content
  .page-content{
    padding:24px;
    padding-bottom:0px;
    article{
      padding: 8px;
      font-size: 16px;
      line-height: 1;
    }
    blockquote {
      font-size: 1em;
      font-style: normal;
      position: relative;
      width: 100%;
      margin: 20px 0;
      padding: 0 20px;
      border-left: 4px solid lighten(@primary-color, 5%);
      &:before {
        content: none;
      }
      &:after {
        content: none;
      }
    }

    .article-content{
      padding: 16px;
      p,li,ol,ul{
        font-size: 1em;
      }
      hr {
        margin: 24px -16px;
      }
      h1, h2, h3, h4, h5, h6{
        color: @primary-color;
        margin-top: 24px;
        font-weight: 700;
      }
      h1{
        font-size: 2.1em;
      }
      h2{
        font-size: 2em;
      }
      h3{
        font-size: 1.8em;
      }
      h4{
        font-size: 1.5em;
      }
      h5{
        font-size: 1.3em;
      }
      h6{
        font-size: 1.1em;
      }
      img{
        width: 80%;
      }
    }
    .card-content{
      p{
        font-size: 1em;
      }
      h1{
        font-size: 2.1em;
      }
      h2{
        font-size: 2em;
      }
      h3{
        font-size: 1.8em;
      }
      h4{
        font-size: 1.5em;
      }
      h5{
        font-size: 1.3em;
      }
      h6{
        font-size: 1.1em;
      }
      img{
        width: 80%;
      }
    
    }
  }

  //Tag Chip
  #tags-card-large{
    padding: 16px;
  }

  //Index Page
  .intro-board{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    margin: 0 16px 16px 0;
    min-height: 360px;
    .intro-title{
      height: 100%;
      width: 40%;
      text-align: center;
    }
    .intro-content{
      width: 60%;
      height: 100%;
      text-align: center;
    }
  }

  //Comment 
  #disqus_thread{
    padding: 16px;
  }

  //Pagination
  .pagination ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .pagination li {
    display: inline-flex;
    margin: 0 12px;
    text-align: center;
    vertical-align: top;
    a {
      display: inline-block;
    }
  }
}
