@dark-grey: #0f0f0f;
@primary-color: rgb(33,150,243);
@accent-color: rgb(33,150,243);
@card-gutter: 16px;
@page-gutter: 16px;

html, body {
  font-family: Roboto,'Noto Sans CJK SC','Helvetica Neue',Helvetica,'Nimbus Sans L',Arial,'Liberation Sans','Hiragino Sans GB','Source Han Sans CN','Source Han Sans SC','Microsoft YaHei','Wenquanyi Micro Hei','WenQuanYi Zen Hei','ST Heiti',SimHei,'WenQuanYi Zen Hei Sharp',sans-serif !important;
  color: rgba(0,0,0,.87);
}
a {
  text-decoration: none;
  color: @primary-color;
  :hover{
    color: darken(@primary-color, 100%);
  }
}

// Drawer
.mdl-layout__drawer {
	border: none;
	.mdl-navigation .mdl-navigation__link:hover {
		background-color: @dark-grey;
	}
}
#footer{
  height: 48px;
	margin: 20px -24px -24px -24px;
	background-color: @dark-grey;
}

main{
  //Waterfall list
  .waterfall-list{
    .card-content{
      padding: 8px;
      break-inside: avoid-column;
      margin-bottom: 16px;
    }
  }

  //Card content
  .mdl-shadow--2dp .page-card{
    padding: 16px;
  }
  .page-card {
    .card-header {
      padding: 16px;
    }
    .card-summary {
      padding: 0 16px 16px 16px;
      p{
        margin-top: 16px;
      }
    }
  }

  // Page content
  .page-content{
    padding:16px;
    padding-bottom:0px;
    hr {
      border-top: 1px solid rgba(0,0,0,.1);
    }
    container{
      display: flex;
      justify-content: center;
      flex-direction: row;
      padding: 8px;
    }
    sidebar{
      width: 20%;
      margin-left: 24px;
    }
    article{
      font-size: 16px;
      line-height: 1;
      width: 60%;
      .card-header{
        h1{
          margin-bottom: 16px;
        }
      }
    }
    blockquote {
      font-size: 1em;
      font-style: normal;
      position: relative;
      margin: 20px 0;
      padding: 0 20px;
      border-left: 4px solid lighten(@primary-color, 5%);
      &:before {
        content: none;
      }
      &:after {
        content: none;
      }
    }
    table{
      padding: 0;
      width: 100%;
      margin: 16px 0;
      tr{
        border-top: 1px solid #cccccc;
        background-color: white;
        margin: 0;
        padding: 0;
        &:nth-child(2n){
          background-color: #f8f8f8;
        }
        th{
          font-weight: bold;
          border: 1px solid #cccccc;
          text-align: left;
          margin: 0;
          padding: 6px 13px;
        }
        td{
          border: 1px solid #cccccc;
          text-align: left;
          margin: 0;
          padding: 6px 13px;
        }
      }
    }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0;
    }
    
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0;
    }
    h1{
      font-size: 2.1em;
    }
    h2{
      font-size: 2em;
    }
    h3{
      font-size: 1.8em;
    }
    h4{
      font-size: 1.5em;
    }
    h5{
      font-size: 1.3em;
    }
    h6{
      font-size: 1.1em;
    }
    pre{
      font-size: 0.8em;
      line-height: 2;
      margin: 0 -16px;
      code{
        padding: 0 16px;
      }
    }
    .article-content{
      padding: 16px;
      p,li,ol,ul{
        font-size: 1em;
      }
      hr {
        margin: 24px -16px;
        border-top: 1px solid rgba(0,0,0,.1);
      }
      h1, h2, h3, h4, h5, h6{
        color: @primary-color;
        margin-top: 24px;
        font-weight: 700;
      }
      img{
        width: 80%;
        display: block;
        margin: auto 0;
      }
    }
    .card-content{
      p{
        font-size: 1em;
      }
      h1{
        font-size: 2.1em;
      }
      h2{
        font-size: 2em;
      }
      h3{
        font-size: 1.8em;
      }
      h4{
        font-size: 1.5em;
      }
      h5{
        font-size: 1.3em;
      }
      h6{
        font-size: 1.1em;
      }
      img{
        width: 100%;
        margin: 24px 0;
      }
    
    }
  }

  //Tag Chip
  #tags-card-large{
    padding: 16px;
  }

  //Index Page
  .intro-board{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    margin: 0 0 16px 0;
    min-height: 360px;
    .intro-title{
      height: 100%;
      width: 40%;
      text-align: center;
    }
    .intro-content{
      width: 60%;
      height: 100%;
      text-align: center;
    }
  }

  //Comment 
  #disqus_thread{
    padding: 16px;
  }

  //Pagination
  .pagination ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .pagination li {
    display: inline-flex;
    margin: 0 12px;
    text-align: center;
    vertical-align: top;
    a {
      display: inline-block;
    }
  }

  //Sidebar
  .sidebar {
    // position: fixed;
    width: 100%;
    margin-bottom: 24px;
  }
  sidebar{
    #toc{
      ul{
        list-style-type: none;
        padding-left: 8px;
      }
    }
  }
}

  //Large Screens
  @media all and (min-width: 1601px){ 
    .waterfall-list{
      column-count:3;
    }
    container{
      flex-direction: row;
    }
  }
  // Medium Screens
  @media all and (min-width: 481px) and (max-width: 1600px) {
    .waterfall-list{
      column-count:2;
    }
    main {
      .page-content{
        padding:8px;
        container{
          flex-direction: column;
          sidebar{
            margin:0;
            width: 100%;
            #toc{
              margin-top: 24px;
            }
          }
          article{
            width: 100%;
          }
        }
      }
    }
  }
  // Small Screens
  @media all and (max-width: 480px) {
    .waterfall-list{
      column-count:1;
    }
    main {
      .page-content{
        padding:8px;
        container{
          flex-direction: column;
        }
        sidebar{
          margin:0;
          width: 100%;
          #toc{
            margin-top: 24px;
          }
        }
        .article-content{
          img{
            width: 100%;
            margin: 24px 0;
          }
        }
        article{
          width: 100%;
        }
      }
    }
  }
