<!DOCTYPE html>
<html>

<head>
	<title>{{ .Title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.{{ .Site.Params.Theme }}.min.css" />
	<link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/{{.Site.Params.Highlight}}.min.css">
	<link rel="stylesheet" href="/css/style.css" />
</head>

<body>