<!-- <script src="/js/instantclick.min.js" data-no-instant></script>
<script data-no-instant>
  InstantClick.on('change', function (isInitialLoad) {
    if (isInitialLoad === false) {
      if (typeof MathJax !== 'undefined') // support MathJax
        MathJax.Hub.Queue(["Typeset", MathJax.Hub])
    }
  })
  InstantClick.init();
</script> -->

<!-- MathJax -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>