<!-- <script src="/js/instantclick.min.js" data-no-instant></script>
<script data-no-instant>
  InstantClick.on('change', function (isInitialLoad) {
    if (isInitialLoad === false) {
      if (typeof MathJax !== 'undefined') // support MathJax
        MathJax.Hub.Queue(["Typeset", MathJax.Hub])
    }
  })
  InstantClick.init();
</script> -->

<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<!-- MathJax -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>